* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.slides-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.slide {
  position: absolute;

  width: 100%;
  height: 100%;

  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;

  transition: opacity 1.1s ease;
}

.slide.active {
  opacity: 1;
}

.slide img {
  width: 100%;
  height: 100%;

  object-fit: contain;
}